{% assign f=include.fam %}
{% if include.from %}
  {% assign t=f.spouse %}
  {% assign s=include.p %}
{% else %}
  {% assign t=include.p %}
  {% assign s=f.spouse %}
{% endif %}

<header>
<h1>
{% include name.liquid nam=t %}
</h1>
{% if t.note %}<p>{{ t.note }}</p>{% endif %}

{% if s %}
  <h1 class="spouse">
    {% if s.link or include.from %}<a
      href="{% if include.from %}../{{ include.from }}/{{ include.treelink }}{% else %}{{ f.spouse.link }}{% endif %}"
      >{% endif %}
    {% if s.name %}{% include name.liquid nam=s surfrom=include.from %}{% endif %}
    {% if s.link or include.from %}</a>{% endif %}
  </h1>
{% endif %}
{% if s.note %}<p>{{ s.note }}</p>{% endif %}
</header>

{% if f.note %}<p>{{ f.note }}</p>{% endif %}
