{% if include.p.import %} {% assign q=site.data.[include.p.import] %}
{% else %} {% assign q=include.p %} {% endif %}
include.p
{% if q.children %}<a style="cursor:pointer;">
{% else %}<span style="display:inline-block;">
{% endif %}
    <span {% if q.gen %} class="{{ q.gen }}" {% endif %}>{{ q.name }}</span>
    {% if q.sur %}<span class="sur">{{ q.sur }}</span>{% endif %}
    {% if q.born %}<span class="bd">{{ q.born }}
        {% if q.died %}–{{ q.died }} {% else %}—{% endif %}
        </span>
    {% elsif q.died %}
        <span class="bd">†{{ q.died }}</span>
    {% endif %}
    {% if q.spouse %}
        <span class="spouse">
            {% if q.spouse.link %}<a href="{{q.spouse.link}}">{% endif %}
                <span {% if q.spouse.gen %} class="{{ q.spouse.gen }}" {% endif %}>{{ q.spouse.name }}</span>
{% if q.spouse.sur %}<span class="sur">{{ q.spouse.sur }}</span>{% endif %}
                {% if q.spouse.born %}<span class="bd">{{ q.spouse.born }}
                    {% if q.spouse.died %}–{{ q.spouse.died }} {% else %}—{% endif %}
                    </span>
                {% elsif q.spouse.died %}
                    <span class="bd">†{{ q.spouse.died }}</span>
                {% endif %}
            {% if q.spouse.link %}</a>{% endif %}
        </span>
    {% endif %}
{% if q.children %}</a>
{% else %}</span>
{% endif %}
