{% if include.from %}
  {% assign q=include.p.family.spouse %}
  {% assign s=include.p %}
  {% assign f=include.p.family %}
{% else %}
  {% assign q=include.p %}
  {% assign f=include.p.family %}
  {% assign s=include.p.family.spouse %}
{% endif %}

{% if f.children or q.note or f.note or s.note %}<a style="cursor:pointer; margin-right:.1em">
{% else %}<span style="margin-right:.1em">
{% endif %}

{% include name.liquid nam=q %}

{% if f.children %}</a>
{% else %}</span>
{% endif %}

{% if s %}
  <span class="spouse">
    {% if s.link %}<a href="{{f.spouse.link}}">{% endif %}
    {% if s.name %}{% include name.liquid nam=s %}{% endif %}
    {% if s.link %}</a>{% endif %}
  </span>
{% endif %}

{% if include.treelink %}
  <a class="branch" title="Go to {{ q.name }}’s branch" href="{{ include.treelink }}">View &rarr;</a>
{% endif %}

{% if q.note or f.note or s.note %}
<p>{{ q.note }} {{ f.note }}</p>
{% endif %}
