{% if include.p.children %}<a style="cursor:pointer;">
{% else %}<span style="display:inline-block;">
{% endif %}
    <span {% if include.p.gen %} class="{{ include.p.gen }}" {% endif %}>{{ include.p.name }}</span>
    {% if include.p.sur %}<span class="sur">{{ include.p.sur }}</span>{% endif %}
    {% if include.p.born %}<span class="bd">{{ include.p.born }}
        {% if include.p.died %}–{{ include.p.died }} {% else %}—{% endif %}
        </span>
    {% elsif include.p.died %}
        <span class="bd">†{{ include.p.died }}</span>
    {% endif %}
    {% if include.p.spouse %}
        <span class="spouse">
            {% if include.p.spouse.link %}<a href="{{include.p.spouse.link}}">{% endif %}
                <span {% if include.p.spouse.gen %} class="{{ include.p.spouse.gen }}" {% endif %}>
                    {{ include.p.spouse.name }}
                    </span>
                {% if include.p.spouse.sur %}<span class="sur">{{ include.p.spouse.sur }}</span>{% endif %}
                {% if include.p.spouse.born %}<span class="bd">{{ include.p.spouse.born }}
                    {% if include.p.spouse.died %}–{{ include.p.spouse.died }} {% else %}—{% endif %}
                    </span>
                {% elsif include.p.spouse.died %}
                    <span class="bd">†{{ include.p.spouse.died }}</span>
                {% endif %}
            {% if include.p.spouse.link %}</a>{% endif %}
        </span>
    {% endif %}
{% if include.p.children %}</a>
{% else %}</span>
{% endif %}
