{% if include.fam %} {% assign f=include.fam %}
{% else %} {% assign f=include.p.family[0] %}
{% endif %}

{% if include.from %}
  {% assign t=f.spouse %}
  {% assign s=include.p %}
{% else %}
  {% assign t=include.p %}
  {% assign s=f.spouse %}
{% endif %}

{% if include.firstmarriage %}
  {% if include.levellimit %}<span style="margin-right:.1em">
  {% elsif f.children or t.note or f.note or s.note %}<a style="cursor:pointer; margin-right:.1em">
  {% else %}<span style="margin-right:.1em">
  {% endif %}
    {% include name.liquid nam=t %}
  {% if include.levellimit %}</span>
  {% elsif f.children or t.note or f.note or s.note %}</a>
  {% else %}</span>
  {% endif %}
{% else %}
  <span class="remarrymark"></span>
{% endif %}

{% if include.levellimit %}
  {% if t.note %}<p style="margin-top:.125em;">{{ t.note }}</p>{% endif %}
{% else %}
    {% if s %}
      <span class="spouse">
        {% if s.link or include.from %}<a
          href="{% if include.from %}../{{ include.from }}/{{ include.treelink }}{% else %}{{ f.spouse.link }}{% endif %}"
          >{% endif %}
        {% if s.name %}{% include name.liquid nam=s surfrom=include.from %}{% endif %}
        {% if s.link or include.from %}</a>{% endif %}
      </span>
    {% endif %}

    {% if include.treelink and include.firstmarriage %}
      <a class="branch"
        title="Go to {% if t.nick %}{{ t.nick }}{% else %}{{ t.name }}{% endif %}’s branch"
        href="{% if include.from %}../{{ include.from }}/{% endif %}{{ include.treelink }}">View &rarr;</a>
    {% endif %}

    {% if t.note or s.note %}
    <p>{{ t.note }} {{ f.note }}</p>
    {% endif %}
{% endif %}
