{% assign q=include.p %}
{% assign f=include.p.family %}
{% if f.children %}<a style="cursor:pointer; display:inline-block; margin-right:.1em">
{% else %}<span style="display:inline-block; margin-right:.1em">
{% endif %}

{% include name.liquid nm=q %}

{% if f.children %}</a>
{% else %}</span>
{% endif %}

{% if f.spouse %}
    <span class="spouse">
        {% if f.spouse.link %}<a href="{{f.spouse.link}}">{% endif %}
            <span {% if f.spouse.gen %} class="{{ f.spouse.gen }}" {% endif %}>{{ f.spouse.name }}</span>
        {% if f.spouse.sur %}<span class="sur">{{ f.spouse.sur }}</span>{% endif %}
            {% if f.spouse.born %}<span class="bd">{{ f.spouse.born }}
                {% if f.spouse.died %}–{{ f.spouse.died }} {% else %}—{% endif %}
                </span>
            {% elsif f.spouse.died %}
                <span class="bd">†{{ f.spouse.died }}</span>
            {% endif %}
        {% if f.spouse.link %}</a>{% endif %}
    </span>
{% endif %}

{% if include.treelink %}
  <a class="branch" title="Go to {{ q.name }}’s branch" href="{{include.treelink}}">Branch &rarr;</a>
{% endif %}
