{% assign n=include.nam %}
{% if n.name or n.nick %}
  <span {% if n.gen %} class="{{ n.gen }}" {% endif %}>
    {% if n.name.first %}{% for names in n.name %}{% if forloop.last %}{{ names }}{% else %}
    <s>{{ names }}</s> {% endif %}{% endfor %}{% else %}{{ n.name }}{% endif %}{% if n.nick %} <q>{{n.nick}}</q>{% endif %}</span>
{% endif %}
{% if include.surfrom %}<span class="sur">{{ include.surfrom }}</span>
{% elsif n.sur %}<span class="sur">{{ n.sur }}</span>
{% elsif n.nee %}<span class="nee">{{ n.nee }}</span>
{% endif %}
{% if n.born or n.died %}
  <span class="bd">{% if n.born %}*{{ n.born.date }}{% if n.born.date and n.born.loc %}&nbsp;{% endif %}{{ n.born.loc }}{% endif %}{% if n.born and n.died %}&ensp;{% endif %}{% if n.died %}†{{ n.died.date }}{% if n.died.date and n.died.loc %}&nbsp;{% endif %}{{ n.died.loc }}{% endif %}</span>
{% endif %}
