{% assign n=include.nam %}
<span {% if n.gen %} class="{{ n.gen }}" {% endif %}>
  {% if n.name.first %}{% for names in n.name %}{% if forloop.last %}{{ names }}{% else %}
  <s>{{ names }}</s> {% endif %}{% endfor %}{% else %}{{ n.name }}{% endif %}{% if n.nick %} <q>{{n.nick}}<q>{% endif %}</span>
{% if n.sur %}<span class="sur">{{ n.sur }}</span>{% endif %}
{% if n.born or n.died %}<span class="bd">{% if n.born.loc %}{{ n.born.loc }} {% endif %}*{{ n.born.date }}{% if n.died %}
  †{{ n.died.date }}{% if n.died.date and n.died.loc %} {% endif %}{{ n.died.loc }}{% endif %}</span>
{% endif %}
